<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852340191027-hc8kh1l4bbnbnii4h2gcarcp5afbo4is.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852340191027-hc8kh1l4bbnbnii4h2gcarcp5afbo4is</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>852340191027-bi7ag46prd383ml45pu3cr063u15cn8a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC01DAw1UdV4OdXCOCnpQ-x8_Mt4U7VDig</string>
	<key>GCM_SENDER_ID</key>
	<string>852340191027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.choks.annammithra</string>
	<key>PROJECT_ID</key>
	<string>annam-mithra</string>
	<key>STORAGE_BUCKET</key>
	<string>annam-mithra.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852340191027:ios:f41ab8ea942520b27b9846</string>
</dict>
</plist>